* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "sofiapro", sans-serif;
	font-size: 12px;
	line-height: 1;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

.container {
	max-width: 40rem;
	padding: 1.2rem 1.2rem;
	margin: 0 auto;
}

/* ************************** */
/* Nav section */
/* ************************** */

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	margin-bottom: 5rem;
}

.logo {
	width: 8rem;
}

.search {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.search__img {
	width: 1.6rem;
	color: #000;
}

.search__window {
	border: none;
	/* font-size: 12px; */
}

.nav__container {
	display: none;
}

.btn__mobile__nav {
	border: none;
	background: none;
	cursor: pointer;
}

.icon__mobile__nav {
	height: 1.8rem;
	width: 1.8rem;
}

/* ************************** */
/* Main section */
/* ************************** */

.main {
	display: flex;
	justify-content: space-between;
	gap: 3rem;
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-shrink: 0;
}

.menu__header {
	font-size: 1.6rem;
}

.menu__list__item {
	display: flex;
	align-items: center;
	gap: 1rem;
	margin-bottom: 2rem;
	color: #000;
}

.menu__list__item:first-child {
	margin-bottom: 3rem;
}

.menu__img {
	width: 1.9rem;
	margin-top: 1rem;
}

.menu__help {
	display: flex;
	align-items: center;
	gap: 1.2rem;

	color: #000;
}

.cards {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 1rem;
}

.cards__block {
	display: flex;
	flex-direction: column;
	flex-basis: content;
	justify-content: stretch;
	gap: 1rem;
}

.first__block {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	gap: 1rem;
}

.second__block {
	max-width: 48%;
	display: flex;
	gap: 1rem;
}

.card__vertical {
	max-width: 100%;
	align-self: stretch;
}

.card__horizont {
	max-width: 100%;
	height: auto;
}

@media (min-width: 700px) {
	.container {
		max-width: 70rem;
	}

	.cards {
		flex-direction: row;
	}
}

@media (min-width: 900px) {
	body {
		font-size: 14px;
	}

	.logo {
		width: 9rem;
	}

	.container {
		max-width: 90rem;
	}

	.btn__mobile__nav {
		display: none;
	}

	.nav__container {
		display: inline-block;
	}

	.nav__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1.4rem;
	}

	.menu__header {
		font-size: 1.8rem;
	}
}
